# compozition
	- Application\PresenterConfigurator
	- class: Application\TemplateControl
	  arguments: [%appDir%/templates]
	- Application\Translator
	- Application\ControlConfigurator
	- Application\LayoutControl
# template maker
	- JP\TemplateMaker\FileCreator
	- class: JP\TemplateMaker\TemplateMaker
	  arguments: [%appDir%/templates]
	- class: JP\TemplateMaker\Bar
	  setup:
	  	- setTemplateMaker(@JP\TemplateMaker\TemplateMaker)
extensions:
	composition: JP\Composition\CompositionExtension