{block #content}
<div id="HomepageModule-HomepagePresenter-default">{*** NEVER CHANGE GENERATED ID ***}

	<h1>Congratulation!</h1>
	<p>You just sturtup new project with <a href="https://github.com/honzapospi/web-starter-kit">web-starter-kit</a></p>

</div>
